<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      </div>
    <div class="header">
      <a href="/signup" class="main-btn">회원가입</a>
      <a href="/login" class="main-btn"><%=login %></a>
      <a href="/menu" class="main-btn">메뉴</a>
      <a href="/basket" class="main-btn"><%=basket %></a>
    </div>
  </body>
</html>