<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login-Lecture</title>
    </head>
    <body>
        <form action="/login/process" method="POST">
            <input type="text" placeholder="아이디" name="userid"><br>
            <input type="text" placeholder="비밀번호" name="userpw"><br>
            <button type="submit" value="로그인">로그인</button>
        </form>
    </body>
    </html>