<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>
    <form action="/signup/proces" method="POST">
        <input type="text" placeholder="아이디" name="userid"><br>
        <input type="text" placeholder="비밀번호" name="userpw"><br>
        <input type="text" placeholder="이름" name="username"><br>
        <button type="submit" value="회원가입">회원가입</button>
    </form>
</body>
</html>